header {

    /* Positioning */
    height:0px;
}

body {

    /* Typography */
    font-family: 'Questrial', sans-serif;
    text-transform:capitalize;
}

h1 { 

    /* Box-Model */
    margin-left:15px;
    padding-top:6px;

    /* Typography */
    font-size:33px;
}

h2 {

    /* Typography */
    font-weight:600;
    opacity:0.7;
}

h4 {

    /* Typography */
    font-size:18px;
    font-weight:600;
    opacity:0.7;
}

h5 {

    /* Typography */
    font-size:16px;
    font-weight:600;
}

.container-fluid {

    margin-top:40px;
}

.card {

    border:1px solid black;
}

.mt-1 {

    color:white;
    opacity:0.8;
}

.form-control {

    /* Box-Model */
    border:none;
    border-bottom: 3px solid white;

    /* Positioning */
    width:90%;

    /* Typography */
    font-size:25px;
    font-weight:600;
    color:white;

    /* Aesthetic */
    background-color:transparent;
}

.form-control:focus {

    /* Aesthetic */
    background-color: transparent;
    box-shadow:none;
    border-bottom:3px solid white;
    color:white;
}

.list-group-item {

    /* Box-Model */
    margin-bottom:5px;

    /* Aesthetic */
    opacity:0.8;
}

.bkgd {
  
    /* Positioning */
    background-size:80%;
    background-repeat: repeat;
    background-position:center;
    min-width: 200%;
    min-height: 200%;
    position:fixed;
    
    /*Aesthetic */
    background-image: url("./assets/bkgd.jpeg"); 
    opacity:0.4;
}

.current-card {

    /* Positioning */
    min-height:320px;
    max-height:320px;
}

.current-card-body {

    /* Aesthetic */
    background-color:rgb(214, 214, 214)
}

.current-p {

    /* Typography */
    font-size:20px;
    font-weight:500;
    color:white;
    opacity:0.8;
}

.current-overview {

    /* Typography */
    font-size:70px;
    font-weight:200px;
}

.clear-now {

    /* Aesthetic */
    background-image: url("./assets/clear.png");
}

.partly-cloudy-now {

    /* Aesthetic */
    background-image: url("./assets/partly-cloudy.png");
    background-size:100%;
}

.mostly-cloudy-now {

    /* Aesthetic */
    background-image: url("./assets/mostly-cloudy.png");
}

.cloudy-now {

    /* Aesthetic */
    background-image: url("./assets/cloudy.png");
}

.showers-now {

    /* Aesthetic */
    background-image: url("./assets/showers.png");
}

.rain-now {

    /* Aesthetic */
    background-image: url("./assets/rain.png");
}

.thunderstorm-now {

    /* Aesthetic */
    background-image: url("./assets/thunderstorm.png");
}

.snow-now {

    /* Aesthetic */
    background-image: url("./assets/snow.png");
}

.wintry-mix-now {

    /* Aesthetic */
    background-image: url("./assets/wintry-mix.png");
}

.sleet-now {

    /* Aesthetic */
    background-image: url("./assets/Sleet.png");
}

.windy-now {

    /* Aesthetic */
    background-image: url("./assets/windy.png");
}

.foggy-now {

    /* Aesthetic */
    background-image: url("./assets/Foggy.png");
}

.uv-low {

    /* Aesthetic */
    background-color: rgb(13, 102, 13);
}

.uv-mod {

    /* Aesthetic */
    background-color: rgb(175, 175, 4);
}

.uv-high {

    /* Aesthetic */
    background-color: rgb(202, 136, 14);
}

.uv-very-high {

    /* Aesthetic */
    background-color:rgb(136, 5, 5);
}

.uv-extreme {

    /* Aesthetic */
    background-color:rgb(180, 95, 109)
}

.btn {

    /* Box-Model */
    border: 1px solid white;

    /* Typography */
    color:white;
}

.btn-sm {

    /* Typography */
    color:white;
}

.col-lg-3 {

    /* Box-Model */
    margin-top:16px;
    border-radius:5px;
    padding-bottom:12px;

}


.forecast-card {

    /* Box-Model */
    margin-top:12px;
    margin-right:7px;
    margin-left:7.5px;
    border: 1px solid black;

    /* Positioning */
    width:18%;
    min-height:150px;
    display:inline-block;
}

.forecast-card-header {

    /* Box-Model */
    padding:5px;
}

.forecast-card-body {

    /* Box-Model */
    padding-left: 5px;
    padding-top:12px;

    /* Typography */
    color:white;
}

.forecast-card-p {

    /* Typography */
    font-size:14px;
    line-height:9px;
    opacity:0.8;
}

.bg-light {

    /* Box-Model */
    border:1px solid black;
}

.btn-sm {

    /* Box-Model */
    border:none;

    /* Typography */
    color:black;
}

#search-button {

    /* Box-Model */
    border:none;
}

@media only screen and (max-width:768px) {

h4 {

    /* Typography */
    font-size:16px;
}

.forecast-card {

    /* Positioning */
    width: 45%;
}


}
