


.list-group-item {

    /* Box-Model */
    margin-bottom:5px;

}

.current-card {

    /* Positioning */
    height:320px;

}

.forecast-card {

    /* Box-Model */
    margin-top:12px;
    margin-right:7px;
    margin-left:7.5px;
    border: 1px solid black;

    /* Positioning */
    width:18%;
    height:150px;
    display:inline-block;
}